body {
    background-image: url("resources/menu/Background.png");
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#border {
    position: absolute;
    width: 1432px;
    height: 1044px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#game-container {
    position: absolute;
    width: 1392px;
    height: 1000px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#game-canvas {
    position: relative;
    width: 1392px;
    height: 1000px;
}

#title, #player, #dragon, #explosion, #layer-0, #layer-1, #layer-2, #layer-3, #layer-4, #layer-5, #layer-6, #layer-7, #layer-8, #layer-9, #layer-10 {
    display: none;
}

.start-button-container {
    position: relative;
    margin-top: 24%;
    margin-left: 8%;
    width: 400px;
}

.button-container {
    position: relative;
    margin-top: 8%;
    margin-left: 8%;
    width: 400px;
}

.instruction-button-container {
    position: relative;
    margin-top: 24%;
    margin-left: 62%;
    width: 400px;
}

#button-start, #button-score, #button-view, #button-logout, #button-instruction {
    width: 100%;
    height: auto;
}

#button-start-clicked, #button-score-clicked, #button-view-clicked, #button-logout-clicked, #button-instruction-clicked {
    width: 100%;
    height: auto;
    display: none;
}