body {
    background-image: url("resources/background/Background.jpg");
}

#game-container {
    position: absolute;
    width: 1392px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 5px solid black;
}

#game-canvas {
    position: relative;
    width: 1392px;
    height: 1000px;
}

#title, #player, #dragon, #explosion, #layer-0, #layer-1, #layer-2, #layer-3, #layer-4, #layer-5, #layer-6, #layer-7, #layer-8, #layer-9, #layer-10 {
    display: none;
}

#start {
    width: 100%;
    font-size: 30px;
}