body {
    /* background-image: url("/game/static/menu/Background.png"); */
    background-image: url("/static/menu/Background.png");
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* INDEX */

#index-container {
    margin-top: 5%;
}

#title, #border, #player, #dragon, #explosion, #layer-0, #layer-1, #layer-2, #layer-3, #layer-4, #layer-5, #layer-6, #layer-7, #layer-8, #layer-9, #layer-10 {
    display: none;
}

/* Button containers */
#start-button-container { /* "New game" container */
    position: relative;
    width: 70%;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

#score-button-container, #view-button-container, #logout-button-container {
    position: relative;
    width: 70%;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

#instruction-button-container {
    position: relative;
    text-align: center;
    width: 70%;
    padding-left: 0%;
    padding-right: 0%;
}

#start-button-container:hover, #score-button-container:hover,
#view-button-container:hover, #logout-button-container:hover,
#instruction-button-container:hover {
    cursor: pointer;
}

/* Button images */
#button-start, #button-score, #button-view, #button-logout, #button-instruction {
    width: 100%;
}

#button-start-clicked, #button-score-clicked, #button-view-clicked, #button-logout-clicked, #button-instruction-clicked {
    width: 100%;
    display: none;
}

/* Button text */
#start-button-text, #score-button-text, #view-button-text, #logout-button-text, #instruction-button-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 1.1vw;
    color: white;
}

#instruction-tablet-container {
    position: relative;
    text-align: justify;
}

#instruction-tablet {
    position: relative;
    width: 100%;
    height: auto;
    display: none;
    animation-name: animate;
    animation-duration: 0.4s;
}

#instruction-tablet-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 1.1vw;
    color: white;
    display: none;
    animation-name: animate;
    animation-duration: 2.0s;
}

@keyframes animate {
    from {opacity: 0}
    to {opacity: 1}
}

/* REGISTER */

#register-container {
    margin-top: 15%;
}

#register-button-container {
    position: relative;
    text-align: center;
    width: 200px;
    padding-left: 0%;
    padding-right: 0%;
}

#register-form-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100%;
    opacity: 0;
}

#button-register {
    width: 100%;
    border: 1px solid black;
}

#button-register-clicked {
    width: 100%;
    display: none;
}

#register-button-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 18px;
    color: white;
    border: 1px solid black;
}