/* GENERAL */

/* Main part of each page */
body {
    background-image: url("/static/menu/Background.png");
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Marker for the buttons script */
.conditional-part {
    display: none;
}

/* INDEX */

/* Main container */
#index-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* All rows on the page */
.row {
    position: relative;
}
#row-mobile-up, #row-mobile-lateral, #row-mobile-attack {
    display: none;
}

/* All assets */
#title, #border-game, #player, #dragon, #explosion, #layer-0, #layer-1, #layer-2, #layer-3, #layer-4, #layer-5,
#layer-6, #layer-7, #layer-8, #layer-9, #layer-10 {
    display: none; /* Hide until the script runs */
}

/* Left side buttons containers */
#start-button-container, #score-button-container, #view-button-container,
#logout-button-container, #delete-button-container, #index-back-button-container,
#arrow-up-button-container, #arrows-lateral-button-container, #attack-button-container {
    position: relative;
    width: 230px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 0%;
    padding-right: 0%;
}
#arrows-lateral-button-container {
    margin-left: 1vw;
}

/* Change cursor when hovering over button */
#start-button-container, #arrow-up-button, #arrow-left-button, #arrow-right-button, #attack-button {
    cursor: pointer;
}

/* Right side button container */
#credits-button-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 230px;
    margin-top: 60%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Score button itself (invisible) */
#score-form-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 40px;
    opacity: 0;
}

/* "Unclicked" button images */
#start-button, #score-button, #view-button, #logout-button, #delete-button, #index-back-button, #credits-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}
#arrow-up-button, #arrow-left-button, #arrow-right-button, #attack-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 45%;
}
#arrow-up-button {
    margin-top: -1vw;
}
#arrow-left-button {
    margin-left: -4vw;
}
#arrow-right-button {
    margin-left: 4vw;
}
#attack-button {
    margin-top: 1vw;
}

/* "Clicked" button images */
#start-button-clicked, #score-button-clicked, #view-button-clicked, #logout-button-clicked,
#delete-button-clicked, #index-back-button-clicked, #credits-button-clicked {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: none; /* Hide until the script runs */
}
#arrow-up-button-clicked, #arrow-left-button-clicked, #arrow-right-button-clicked, #attack-button-clicked {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 45%;
    display: none; /* Hide until the script runs */
}
#arrow-up-button-clicked {
    margin-top: -1vw;
}
#arrow-left-button-clicked {
    margin-left: -4vw;
}
#arrow-right-button-clicked {
    margin-left: 4vw;
}
#attack-button-clicked {
    margin-top: 1vw;
}

/* Text on buttons */
#start-button-text, #score-button-text, #view-button-text, #logout-button-text,
#delete-button-text, #index-back-button-text, #credits-button-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, serif;
    font-size: 14px;
    color: white;
}

/* "Invisible" form */
#score-button-input, #score-value {
    display: none;
}

/* Instruction tablet container */
#instruction-tablet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -25px;
    text-align: justify;
}

/* Instruction tablet background */
#instruction-tablet-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: -2;
    opacity: 0.5;
}

/* Instruction tablet border */
#instruction-tablet-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

/* Instruction tablet text */
#instruction-tablet-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: Luminari, Papyrus, serif;
    font-size: 15px;
    color: white;
}

/* LOGIN & REGISTER */

/* Main containers */
#login-container, #register-container, #delete-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Login tablet background */
#login-background {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 490px;
    z-index: -2;
    opacity: 0.5;
}

/* Login tablet border */
#login-border {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 490px;
    z-index: -1;
}

/* Register tablet background */
#register-background, #login-registered-background, #delete-background {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 490px;
    z-index: -2;
    opacity: 0.5;
}

/* Register tablet border */
#register-border, #login-registered-border, #delete-border {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 490px;
    z-index: -1;
}

/* Boxes for user input */
#login-input-username, #register-input-username {
    margin-top: -50px;
    width: 230px;
}

/* Boxes for user input */
#login-input-password, #register-input-password, #register-input-confirmation {
    width: 230px;
}

/* Button containers */
#login-button-container, #register-button-container, #delete-yes-button-container {
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 230px;
    padding-left: 0%;
    padding-right: 0%;
}

/* Button containers */
#register-login-button-container, #play-button-container, #register-back-button-container, #delete-no-button-container {
    position: relative;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    width: 230px;
    padding-left: 0%;
    padding-right: 0%;
}

/* Buttons themselves (invisible) */
#login-form-button, #register-form-button, #play-form-button, #delete-yes-form-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 2.8vw;
    width: 100%;
    opacity: 0;
}

/* "Unclicked" button images */
#login-button, #register-login-button, #play-button, #register-button, #register-back-button, #delete-yes-button, #delete-no-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

/* "Clicked" button images */
#login-button-clicked, #register-login-button-clicked, #play-button-clicked, #register-button-clicked,
#register-back-button-clicked, #delete-yes-button-clicked, #delete-no-button-clicked {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: none; /* Hide until the script runs */
}

/* Text on buttons */
#login-button-text, #register-login-button-text, #play-button-text, #register-button-text,
#register-back-button-text, #delete-yes-button-text, #delete-no-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, serif;
    font-size: 17px;
    color: white;
}

/* "Invisible" form */
#play-button-input {
    display: none;
}

/* Apology text */
.apology {
    font-size: 14px;
    color: white;
}

/* Continue prompt */
#login-registered-continue {
    font-family: Luminari, Papyrus, serif;
    font-size: 20px;
    color: white;
}

/* Delete question */
#delete-question {
    font-family: Luminari, Papyrus, serif;
    font-size: 18px;
    color: white;
}

/* SCORES & CREDITS */

/* Main container */
#scores-container, #credits-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30%;
    height: 70%;
}

/* Scores/credits tablet background */
#scores-credits-background {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.5;
}

/* Scores/credits tablet border */
#scores-credits-border {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Scores table container */
#scores-table-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-height: 90%;
    overflow: auto;
    font-family: Luminari, Papyrus, serif;
    font-size: 12px;
}

/* Credits table title */
#credits-table-title {
    font-family: Luminari, Papyrus, serif;
    font-size: 16px;
}

/* Credits table container */
#credits-table-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-height: 90%;
    overflow: auto;
    font-family: Segoe UI, serif;
    font-size: 12px;
}

/* Table itself */
#scores-credits-table {
    color: white;
}

/* Button container */
#scores-credits-back-button-container, #scores-credits-unregistered-back-button-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 110%;
    left: 50%;
    text-align: center;
    width: 250px;
    padding-left: 0%;
    padding-right: 0%;
}

/* Button itself (invisible) */
#scores-credits-unregistered-back-form-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 3vw;
    width: 100%;
    opacity: 0;
}

/* "Unclicked" button image */
#scores-credits-back-button, #scores-credits-unregistered-back-button {
    width: 100%;
}

/* "Clicked" button image */
#scores-credits-back-button-clicked, #scores-credits-unregistered-back-button-clicked {
    width: 100%;
    display: none; /* Hide until the script runs */
}

/* Text on the button */
#scores-credits-back-button-text, #scores-credits-unregistered-back-button-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, serif;
    font-size: 18px;
    color: white;
}

/* Invisible form */
#scores-credits-unregistered-back-button-input {
    display: none;
}

/* ON DIFFERENT DEVICES */

@media (min-width: 2270px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 400px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 23px;
    }
    #instruction-tablet-text {
        font-size: 25px;
    }
    #credits-button-container {
        width: 400px;
    }
}

@media (max-width: 2269px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 400px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 23px;
    }
    #instruction-tablet-text {
        font-size: 23px;
    }
    #credits-button-container {
        width: 400px;
    }
}

@media (max-width: 2100px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 350px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 21px;
    }
    #instruction-tablet-text {
        font-size: 21px;
    }
    #credits-button-container {
        width: 350px;
    }
}

@media (max-width: 1900px) {
    /* Index */
    #instruction-tablet-text {
        font-size: 19px;
    }
}

@media (max-width: 1720px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #instruction-tablet-text {
        font-size: 17px;
    }
    #credits-button-container {
        width: 300px;
    }
}

@media (min-width: 1540px) {
    /* Login & register */
    #login-background, #login-border, #register-background, #login-registered-background, #delete-background,
    #register-border, #login-registered-border, #delete-border {
        width: 900px;
    }
    #login-input-username, #register-input-username, #login-input-password, #register-input-password, #register-input-confirmation {
        height: 50px;
        width: 500px;
    }
    #login-input-password, #register-input-confirmation {
        margin-bottom: 1%;
    }
    #login-button-container, #register-button-container, #delete-yes-button-container,
    #register-login-button-container, #play-button-container, #register-back-button-container, #delete-no-button-container {
        margin-top: 60px;
        margin-bottom: 50px;
        width: 500px;
    }
    #login-button-text, #register-login-button-text, #play-button-text, #register-button-text,
    #register-back-button-text, #delete-yes-button-text, #delete-no-button-text {
        font-size: 40px;
    }
    .apology {
        font-size: 25px;
    }
    #login-registered-continue, #delete-question {
        font-size: 40px;
    }
    /* Scores & credits */
    #scores-container {
        width: 30%;
        height: 45%;
    }
    #credits-container {
        width: 35%;
        height: 70%;
    }
    #credits-table-title {
        font-size: 35px;
    }
    #scores-table-container {
        font-size: 27px;
    }
    #credits-table-container {
        font-size: 20px;
    }
    #scores-credits-back-button-container, #scores-credits-unregistered-back-button-container {
        width: 250px;
    }
    #scores-credits-back-button-text, #scores-credits-unregistered-back-button-text {
        font-size: 18px;
    }
}

@media (max-width: 1539px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 250px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 18px;
    }
    #instruction-tablet-text {
        font-size: 15px;
    }
    #credits-button-container {
        width: 250px;
    }
    /* Scores & credits */
    #scores-container {
        width: 40%;
        height: 60%;
    }
    #scores-table-container {
        font-size: 20px;
    }
}

@media (max-width: 1360px) {
    /* Index */
    #instruction-tablet-text {
        font-size: 14px;
    }
}

@media (max-width: 1270px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 14px;
    }
    #instruction-tablet-text {
        font-size: 13px;
    }
    #credits-button-container {
        width: 200px;
    }
}

@media (max-width: 1180px) {
    /* Index */
    #instruction-tablet-text {
        font-size: 11px;
    }
}    

@media (max-width: 1000px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 180px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 11px;
    }
    #arrow-up-button, #arrow-up-button-clicked {
        margin-top: 0vw;
    }
    #attack-button, #attack-button-clicked {
        margin-top: 0vw;
    }
    #instruction-tablet-container {
        margin-top: -5%;
    }
    #instruction-tablet-text {
        font-size: 10px;
    }
    #credits-button-container {
        width: 180px;
    }
    /* Scores & credits */
    #scores-container {
        width: 40%;
        height: 45%;
    }
    #scores-table-container {
        font-size: 11px;
    }
    #credits-container {
        width: 45%;
        height: 60%;
    }
    #credits-table-title {
        font-size: 14px;
    }
    #credits-table-container {
        font-size: 10px;
    }
    #scores-credits-back-button-container, #scores-credits-unregistered-back-button-container {
        margin-top: 10px;
        width: 180px;
    }
    #scores-credits-back-button-text, #scores-credits-unregistered-back-button-text {
        font-size: 11px;
    } 
}

@media (max-width: 910px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 160px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 10px;
    }
    #instruction-tablet-text {
        font-size: 9px;
    }
    #credits-button-container {
        width: 160px;
    }
}

@media (max-width: 815px) {
    /* Index */
    #arrow-up-button,#arrow-up-button-clicked {
        margin-top: 1vw;
    }
    #attack-button, #attack-button-clicked {
        margin-top: -1vw;
    }
    #instruction-tablet-text {
        font-size: 8px;
    }
}

@media (max-height: 800px) {
    #game-canvas {
        width: 90%;
    }
}

@media (max-width: 725px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 140px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 9px;
    }
    #arrow-up-button, #arrow-up-button-clicked {
        margin-top: 1.5vw;
    }
    #attack-button, #attack-button-clicked {
        margin-top: -1.5vw;
    }
    #instruction-tablet-text {
        font-size: 7px;
    }
    #credits-button-container {
        width: 140px;
    }
}

@media (max-width: 640px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 130px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 8px;
    }
    #arrow-up-button, #arrow-up-button-clicked {
        margin-top: 2vw;
    }
    #attack-button, #attack-button-clicked {
        margin-top: -2vw;
    }
    #instruction-tablet-text {
        font-size: 6px;
    }
    #credits-button-container {
        width: 130px;
    }
}

@media (max-width: 575px) {
    /* Index */
    #start-button-container, #score-button-container, #view-button-container,
    #logout-button-container, #delete-button-container, #index-back-button-container {
        width: 250px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #arrow-left-button, #arrow-left-button-clicked, #arrow-right-button, #arrow-right-button-clicked,
    #arrow-up-button, #arrow-up-button-clicked, #attack-button, #attack-button-clicked {
        display: none;
    }
    #start-button-text, #score-button-text, #view-button-text, #logout-button-text,
    #delete-button-text, #index-back-button-text, #credits-button-text {
        font-size: 17px;
    }
    /* Login & register */
    #login-background, #login-border, #register-background, #login-registered-background, #delete-background,
    #register-border, #login-registered-border, #delete-border {
        height: 120%;
        width: 100%;
    }
    #login-input-username, #register-input-username {
        margin-top: 3%;
        width: 50%;
    }
    #login-input-password, #register-input-confirmation {
        margin-bottom: 3%;
        width: 50%;
    }
    #register-input-password {
        width: 50%;
    }
    #login-button-container, #register-button-container, #delete-yes-button-container,
    #register-login-button-container, #play-button-container, #register-back-button-container, #delete-no-button-container {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 40vw;
    }
    #login-button-text, #register-login-button-text, #play-button-text, #register-button-text,
    #register-back-button-text, #delete-yes-button-text, #delete-no-button-text {
        font-size: 12px;
    }
    .apology {
        font-size: 12px;
    }
    #login-registered-continue, #delete-question {
        margin-top: 2%;
        font-size: 14px;
    }
    /* Scores & credits */
    #scores-container {
        width: 55%;
        height: 50%;
    }
    #scores-table-container {
        font-size: 9px;
    }
    #credits-container {
        width: 55%;
        height: 75%;
    }
    #credits-table-title {
        font-size: 12px;
    }
    #credits-table-container {
        font-size: 7px;
    }
    #scores-credits-back-button-container, #scores-credits-unregistered-back-button-container {
        top: 105%;
        width: 150px;
    }
    #scores-credits-back-button-text, #scores-credits-unregistered-back-button-text {
        font-size: 10px;
    }
}