/* GENERAL */

body {
    background-image: url("/static/menu/Background.png");
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* INDEX */

/* Main container */
#index-container {
    margin-top: 7.5%;
}

/* Hide all assets */
#title, #border-game, #player, #dragon, #explosion, #layer-0, #layer-1, #layer-2, #layer-3, #layer-4, #layer-5, #layer-6, #layer-7, #layer-8, #layer-9, #layer-10 {
    display: none; /* Hide until the script runs */
}

/* Left side buttons containers */
#start-button-container, #score-button-container, #view-button-container, #logout-button-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */
    width: 70%;
    margin-top: 12%;
    margin-bottom: 12%;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    border: 1px black solid;
}

/* Score button itself (invisible) */
#score-form-button {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 3.3vw;
    opacity: 0.5; /* Hide (make invisible) until the script runs */
}

/* Change cursor when hovering over buttons */
#start-button-container:hover, #score-button-container:hover,
#view-button-container:hover, #logout-button-container:hover {
    cursor: pointer;
}

/* "Unclicked" button images */
#start-button, #score-button, #view-button, #logout-button {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

/* "Clicked" button images */
#start-button-clicked, #score-button-clicked, #view-button-clicked, #logout-button-clicked {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: none; /* Hide until the script runs */
}

/* Text on buttons */
#start-button-text, #score-button-text, #view-button-text, #logout-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 1.2vw;
    color: white;
    border: 1px black solid;
}

/* "Invisible" form */
#score-button-input, #score-value {
    display: none;
}

/* Instruction tablet container */
#instruction-tablet-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */
    text-align: justify;
}

/* Instruction tablet background */
#instruction-tablet-background {
    position: absolute; /* Position relative to make the text with position absolute display accordingly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: -2;
    opacity: 0.5;
}

/* Instruction tablet border */
#instruction-tablet-border {
    position: absolute; /* Position relative to make the text with position absolute display accordingly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

/* Instruction tablet text */
#instruction-tablet-text {
    position: absolute; /* Place it in the center of the tablet container */ 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 1.1vw;
    color: white;
}

/* LOGIN & REGISTER */

/* Main containers */
#login-container, #register-container {
    position: absolute; /* Position relative to make other elements with position absolute display accordingly */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px black solid;
}

/* Login tablet background */
#login-background {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 550px; */
    height: 100%;
    width: 40%;
    z-index: -2; /* Move it behind the form and button */
    opacity: 0.5;
}

/* Login tablet border */
#login-border {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 550px; */
    height: 100%;
    width: 40%;
    z-index: -1; /* Move it behind the form and button */
}

/* Login after registered tablet background */
#register-background, #login-registered-background {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
        /* width: 400px; */
        height: 100%;
    width: 30%;
    z-index: -2; /* Move it behind the form and button */
    opacity: 0.5;
}

/* Login after registered tablet border */
#register-border, #login-registered-border {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 400px; */
    height: 100%;
    width: 30%;
    z-index: -1; /* Move it behind the form and button */
}

#login-input-username, #register-input-username {
    margin-top: 3%;
    width: 16%;
}

#login-input-password, #register-input-password, #register-input-confirmation {
    width: 16%;
}

/* Button containers */
#login-button-container, #register-button-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */ 
    text-align: center;
    /* width: 200px; */
    margin-top: 3%;
    margin-bottom: 5%;
    width: 16%;
    padding-left: 0%;
    padding-right: 0%;
    border: 1px black solid;
}

#register-login-button-container, #play-button-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */ 
    text-align: center;
    /* width: 200px; */
    margin-top: 5%;
    margin-bottom: 5%;
    width: 16%;
    padding-left: 0%;
    padding-right: 0%;
    border: 1px black solid;
}

#link {
      border: 1px black solid;  
}

/* Buttons themselves (invisible) */
#login-form-button, #register-form-button, #play-form-button {
    position: absolute; /* Place them in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 200px; */
    min-height: 2.8vw;
    width: 100%;
    opacity: 0.5; /* Hide (make invisible) until the script runs */
    border: 1px black solid;
}

/* "Clicked" button images */
#login-button, #register-login-button, #play-button, #register-button {
    position: absolute; /* Place them in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;  /* Place it in the center of the button container */ 
    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    width: 100%;
}

/* "Unclicked" button images */
#login-button-clicked, #register-login-button-clicked, #play-button-clicked, #register-button-clicked {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: none;
}

/* Text on the button */
#login-button-text, #register-login-button-text, #play-button-text, #register-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 1.2vw;
    color: white;
}

/* "Invisible" form */
#play-button-input {
    display: none;
}

/* Apology text */
.apology {
    font-size: 1.1vw;
    color: white;
}

/* <hr> element */
.empty-line {
    margin-top: 0px;
    opacity: 0;
}

/* SCORES */

#scores-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* min-height: 450px; */
    width: 30%;
    height: 70%;
    /* border: 1px solid black; */
}

/* Scores tablet background */
#scores-background {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    /* width: 350px; */
    width: 100%;
    z-index: -2; /* Move it behind the form and button */
    opacity: 0.5;
}

/* Scores tablet border */
#scores-border {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    /* width: 350px; */
    width: 100%;
    z-index: -1; /* Move it behind the form and button */
}

#scores-table-container {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 300px;
    max-height: 380px; */
    width: 90%;
    max-height: 90%;
    overflow: auto;
    font-family: Luminari, Papyrus, fantasy;
    font-size: 1.1vw;
    /* border: 1px solid black; */
}

/* Button container */
#scores-back-button-container {
    position: absolute; /* Position relative to make other elements with position absolute display accordingly */ 
    transform: translate(-50%, -50%);
    top: 110%;
    left: 50%;
    text-align: center;
    /* width: 200px; */
    width: 55%;
    padding-left: 0%;
    padding-right: 0%;
}

/* "Clicked" button image */
#scores-back-button {
    width: 100%;
}

/* "Unclicked" button image */
#scores-back-button-clicked {
    width: 100%;
    display: none;
}

/* Text on the button */
#scores-back-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, fantasy;
    /* font-size: 18px; */
    font-size: 1.2vw;
    color: white;
}