/* GENERAL */

body {
    background-image: url("/static/menu/Background.png");
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* INDEX */

/* Main container */
#index-container {
    /* margin-top: 7.5%; */
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* All rows on the page */
.row {
    position: relative;
}

/* Hide all assets */
#title, #border-game, #player, #dragon, #explosion, #layer-0, #layer-1, #layer-2, #layer-3, #layer-4, #layer-5, #layer-6, #layer-7, #layer-8, #layer-9, #layer-10 {
    display: none; /* Hide until the script runs */
}

/* Left side buttons containers */
#start-button-container, #score-button-container, #view-button-container,
#logout-button-container, #delete-button-container, #index-back-button-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */
    width: 70%;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Change cursor when hovering over button */
#start-button-container:hover {
    cursor: pointer;
}

/* Right side button container */
#credits-button-container {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 70%;
    margin-top: 60%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Score button itself (invisible) */
#score-form-button {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 3.3vw;
    opacity: 0; /* Hide (make invisible) until the script runs */
}

/* "Unclicked" button images */
#start-button, #score-button, #view-button, #logout-button, #delete-button, #index-back-button, #credits-button {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

/* "Clicked" button images */
#start-button-clicked, #score-button-clicked, #view-button-clicked, #logout-button-clicked,
#delete-button-clicked, #index-back-button-clicked, #credits-button-clicked {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: none; /* Hide until the script runs */
}

/* Text on buttons */
#start-button-text, #score-button-text, #view-button-text, #logout-button-text,
#delete-button-text, #index-back-button-text, #credits-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, serif;
    font-size: 1.2vw;
    color: white;
}

/* "Invisible" form */
#score-button-input, #score-value {
    display: none;
}

/* Instruction tablet container */
#instruction-tablet-container {
    position: absolute; /* Position relative to make the text with position absolute display accordingly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -7.5%;
    text-align: justify;
}

/* Instruction tablet background */
#instruction-tablet-background {
    position: absolute; /* Position relative to make the text with position absolute display accordingly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: -2;
    opacity: 0.5;
}

/* Instruction tablet border */
#instruction-tablet-border {
    position: absolute; /* Position relative to make the text with position absolute display accordingly */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}

/* Instruction tablet text */
#instruction-tablet-text {
    position: absolute; /* Place it in the center of the tablet container */ 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: Luminari, Papyrus, serif;
    font-size: 1.05vw;
    color: white;
}

/* LOGIN & REGISTER */

/* Main containers */
#login-container, #register-container, #delete-container {
    position: absolute; /* Position relative to make other elements with position absolute display accordingly */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Login tablet background */
#login-background {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 40%;
    z-index: -2; /* Move it behind the form and button */
    opacity: 0.5;
}

/* Login tablet border */
#login-border {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 40%;
    z-index: -1; /* Move it behind the form and button */
}

/* Login after registered tablet background */
#register-background, #login-registered-background, #delete-background {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 30%;
    z-index: -2; /* Move it behind the form and button */
    opacity: 0.5;
}

/* Login after registered tablet border */
#register-border, #login-registered-border, #delete-border {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 30%;
    z-index: -1; /* Move it behind the form and button */
}

/* Boxes for user input */
#login-input-username, #register-input-username {
    margin-top: 3%;
    width: 16%;
}

/* Boxes for user input */
#login-input-password, #register-input-password, #register-input-confirmation {
    width: 16%;
}

/* Button containers */
#login-button-container, #register-button-container, #delete-yes-button-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */ 
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 16%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Button containers */
#register-login-button-container, #play-button-container, #register-back-button-container, #delete-no-button-container {
    position: relative; /* Position relative to make other elements with position absolute display accordingly */ 
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 16%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Buttons themselves (invisible) */
#login-form-button, #register-form-button, #play-form-button, #delete-yes-form-button {
    position: absolute; /* Place them in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 2.8vw;
    width: 100%;
    opacity: 0; /* Hide (make invisible) until the script runs */
}

/* "Unclicked" button images */
#login-button, #register-login-button, #play-button, #register-button, #register-back-button, #delete-yes-button, #delete-no-button {
    position: absolute; /* Place them in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

/* "Clicked" button images */
#login-button-clicked, #register-login-button-clicked, #play-button-clicked, #register-button-clicked,
#register-back-button-clicked, #delete-yes-button-clicked, #delete-no-button-clicked {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: none;
}

/* Text on buttons */
#login-button-text, #register-login-button-text, #play-button-text, #register-button-text,
#register-back-button-text, #delete-yes-button-text, #delete-no-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, serif;
    font-size: 1.2vw;
    color: white;
}

/* "Invisible" form */
#play-button-input {
    display: none;
}

/* Apology text */
.apology {
    font-size: 1.1vw;
    color: white;
}

/* Delete question */
#delete-question {
    margin-top: 3%;
    margin-bottom: 4%;
    font-family: Luminari, Papyrus, serif;
    font-size: 1.25vw;
    color: white;
}

/* SCORES & CREDITS */

#scores-credits-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30%;
    height: 70%;
}

/* Scores tablet background */
#scores-credits-background {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    z-index: -2; /* Move it behind the form and button */
    opacity: 0.5;
}

/* Scores tablet border */
#scores-credits-border {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    z-index: -1; /* Move it behind the form and button */
}

/* Scores table */
#scores-credits-table-container {
    position: absolute; /* Place it in the center of the main container */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-height: 90%;
    overflow: auto;
    font-family: Luminari, Papyrus, serif;
    font-size: 1.1vw;
}

/* Button container */
#scores-credits-back-button-container, #scores-credits-unregistered-back-button-container {
    position: absolute; /* Position relative to make other elements with position absolute display accordingly */ 
    transform: translate(-50%, -50%);
    top: 110%;
    left: 50%;
    text-align: center;
    width: 55%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Button itself (invisible) */
#scores-credits-unregistered-back-form-button {
    position: absolute; /* Place them in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 3vw;
    width: 100%;
    opacity: 0; /* Hide (make invisible) until the script runs */
}

/* "Unclicked" button image */
#scores-credits-back-button, #scores-credits-unregistered-back-button {
    width: 100%;
}

/* "Clicked" button image */
#scores-credits-back-button-clicked, #scores-credits-unregistered-back-button-clicked {
    width: 100%;
    display: none;
}

/* Text on the button */
#scores-credits-back-button-text, #scores-credits-unregistered-back-button-text {
    position: absolute; /* Place it in the center of the button container */ 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Luminari, Papyrus, serif;
    font-size: 1.2vw;
    color: white;
}

/* Invisible form */
#scores-credits-unregistered-back-button-input {
    display: none;
}