{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}

<!-- Main container -->
<div id="login-container" class="container-fluid text-center align-items-center">

    <!-- Background tablet -->
    <img id="login-background" src="/static/menu/Tablet_background.png" alt="Background">
    <img id="login-border" src="/static/menu/Border.png" alt="Border">

    <!-- Login form -->
    <form action="/login" method="post">
        <div class="mb-3">
            <input id="login-input-username" autocomplete="off" name="username" placeholder="Username" type="text">
            <br>
            <div class="apology">{{ user_lack }}</div>
            <div class="apology">{{ user_wrong }}</div>
        </div>
        <div class="mb-3">
            <input id="login-input-password" autocomplete="off" name="password" placeholder="Password" type="password">
            <br>
            <div class="apology">{{ password_lack }}</div>
            <div class="apology">{{ password_wrong }}</div>
        </div>

        <!-- "Log in" button -->
        <div id="login-button-container" class="mx-auto d-flex align-items-center">
            <img id="login-button" src="/static/menu/Button.png" alt="Clicked button">
            <img id="login-button-clicked" src="/static/menu/Button_clicked.png" alt="Unclicked button">
            <div id="login-button-text">Log in</div>
            <!-- Button itself (invisible) -->
            <button id="login-form-button" type="submit" class="mx-auto d-flex align-items-center"></button>
        </div>

    </form>

    <!-- "Register" button linking to the register form -->
    <div id="register-login-button-container" class="mx-auto d-flex align-items-center">
        <a href="/register">
            <img id="register-login-button" src="/static/menu/Button.png" alt="Clicked button">
            <img id="register-login-button-clicked" src="/static/menu/Button_clicked.png" alt="Unclicked button">
            <div id="register-login-button-text">Register</div>
        </a>
    </div>

    <!-- "Just play" button linking to the game without account access -->
    <form action="/", method="post">
        <div id="play-button-container" class="mx-auto d-flex align-items-center">
            <img id="play-button" src="/static/menu/Button.png" alt="Clicked button">
            <img id="play-button-clicked" src="/static/menu/Button_clicked.png" alt="Unclicked button">
            <div id="play-button-text">Just play</div>
            <input id="play-button-input" name="play" type="text" value="play">
            <!-- Button itself (invisible) -->
            <button id="play-form-button" type="submit" class="mx-auto d-flex align-items-center"></button>
        </div>
    </form>

</div>

<!-- Script for buttons -->
<script src="/static/buttons_script.js"></script>

{% endblock %}