{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<!-- Main container -->
<div id="register-container" class="container-fluid text-center align-items-center">
    <!-- Background tablet -->
    <img id="register-background" src="/static/menu/Tablet_background.png">
    <img id="register-border" src="/static/menu/Border.png">
    <!-- Registration form -->
    <form action="/register" method="post">
        <div class="mb-3">
            <input id="register-input-username" autocomplete="off" name="username" placeholder="Username" type="text">
            <br>
            <div class="apology">{{ user_lack }}</div>
            <div class="apology">{{ user_exists }}</div>
        </div>
        <div class="mb-3">
            <input id="register-input-password" autocomplete="off" name="password" placeholder="Password" type="password">
            <br>
            <div class="apology">{{ password_lack }}</div>
            <div class="apology">{{ password_short }}</div>
            <div class="apology">{{ password_letter }}</div>
            <div class="apology">{{ password_digit }}</div>
        </div>
        <div class="mb-3">
            <input id="register-input-confirmation" autocomplete="off" name="confirmation" placeholder="Confirm password" type="password">
            <br>
            <div class="apology">{{ confirmation_lack }}</div>
            <div class="apology">{{ confirmation_match }}</div>
        </div>
        <!-- "Register" button -->
        <div id="register-button-container" class="mx-auto d-flex align-items-center">
            <img id="register-button" src="/static/menu/Button.png">
            <img id="register-button-clicked" src="/static/menu/Button_clicked.png">
            <div id="register-button-text">Register</div>
            <!-- Button itself (invisible) -->
            <button id="register-form-button" type="submit" class="mx-auto d-flex align-items-center"></button>
        </div>
    </form>
</div>
<!-- Script for the button -->
<script src="/static/register_script.js"></script>

{% endblock %}