{% extends "layout.html" %}

{% block title %}
    My scores
{% endblock %}

{% block main %}

<div id="scores-container" class="mx-auto d-flex justify-content-center align-items-center">
    <!-- Background tablet -->
    <img id="scores-background" src="/static/menu/Instruction_tablet_background.png">
    <img id="scores-border" src="/static/menu/Instruction_tablet_border.png">
    <!-- Table container -->
    <div id="scores-table-container">
        <table class="table" style="color: white">
            <thead>
                <tr>
                    <td class="text-center">Score</th>
                    <td class="text-center">Date</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <!-- Iterate over all scores of the user -->
                {% for score in scores %}
                    <tr>
                        <td class="text-center">{{ score["score"] }}</td>
                        <td class="text-center">{{ score["date"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-group-divider">
                <tr>
                    <!-- Display user's best score -->
                    <td class="text-center">Best score:</td>
                    <td class="text-center">{{ best_score }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- "Back" button linking back to the game -->
    <a href="/">
        <div id="scores-back-button-container" class="d-flex align-items-center">
            <img id="scores-back-button" src="/static/menu/Button.png">
            <img id="scores-back-button-clicked" src="/static/menu/Button_clicked.png">
            <div id="scores-back-button-text">Back</div>
        </div>
    </a>    
</div>
<!-- Script for the button -->
<script src="/static/scores_script.js"></script>

{% endblock %}